<div class="movie-container">

  <h2><button>Movies List</button></h2>
  <br>
  <button class="create-btn"><a href="/movies/create">Create</a></button>
  <br>
  <br>
<div class="movie-list">
  <div class="movie-item" *ngFor="let movie of movies">
    <img [src]="movie.image_cover" alt="{{ movie.title }}">
    <h3>Id : {{ movie._id }}</h3>
    <h3>Movie : {{ movie.title }}</h3>
    <p>{{ movie.language }}</p>
    <p>{{movie.rating}}</p>
    <div class="button-container">
      <button (click)="editMovie(movie._id)">Edit</button>
      <button (click)="deleteMovie(movie._id)">Delete</button>
    </div>
  </div>
</div>

</div>