<button><a href="/getmovie">Go Back</a></button>
<div *ngIf="movie" class="single-movie-container">
    <div [style.display]="'flex'" [style.gap]="'30px'" class="inner"> 
        <img class="movie-image" src="{{ movie.image_cover }}" alt="">
    <br>
    <br>
    <div>

        <h2 class="movie-title">{{ movie.title }}</h2>
        <p class="description">{{ movie.description }}</p>
        <div class="movie-details">
            <p>Language: {{ movie.language }}</p>
            <p >Duration: {{ movie.duration }} minutes</p>
            <p>Genre: {{ movie.genre }}</p>
            <p>Release Date: {{ movie.release_date }}</p>
        </div>
        <p class="rating">Rating: {{ getStarRating(movie.rating) }}</p>
        <button>Book Your Tickets</button>
    </div>
</div>
  </div>
  
  