<div *ngIf="movie" class="single-movie-container">
    <!-- Display single movie details here, e.g., title, description, image, etc. -->
    <img class="movie-image" src="{{ movie.image_cover }}" alt="">
    <br>
    <br>
    <div>
      <h2 class="movie-title">{{ movie.title }}</h2>
      <p class="description">{{ movie.description }}</p>
      <div class="movie-details">
        <p>Language: {{ movie.language }}</p>
        <p>Duration: {{ movie.duration }} minutes</p>
        <p>Genre: {{ movie.genre }}</p>
        <p>Release Date: {{ movie.release_date }}</p>
      </div>
      <p class="rating">Rating: {{ getStarRating(movie.rating) }}</p>
      <select name="" id="">
        <option value="">Select the show</option>
        <option value="15:15">15:15 hrs</option>
        <option value="19:15">19:15 hrs</option>
        <option value="22:15">22:25 hrs</option>
      </select>
      <button (click)="bookTicket('Ticket booked')">Book Ticket</button>
      <!-- Show the available shows for the selected movie -->
      
    </div>
  </div>  
