<!-- src/app/movie/movie.component.html -->

<app-movie-list></app-movie-list>
<!-- <app-theater-details></app-theater-details> -->
<!-- <h2>Create Movie</h2>
<form (submit)="onCreateMovie()">
  <div>
    <label>Title</label>
    <input type="text" [(ngModel)]="newMovie.title" placeholder="Enter name" name="title" required>
  </div>
  <div>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" placeholder="Enter description" [(ngModel)]="newMovie.description" required>
  </div>
  <div>
    <label for="duration">Duration (minutes):</label>
    <input type="number" id="duration" name="duration" placeholder="Enter in minutes" [(ngModel)]="newMovie.duration" required>
  </div>
  <div>
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre" placeholder="Enter genre" [(ngModel)]="newMovie.genre" required>
  </div>
  <div>
    <label for="language">Duration (minutes):</label>
    <input type="text" id="language" name="language" placeholder="Enter language" [(ngModel)]="newMovie.language" required>
  </div>
  <div>
    <label for="release_date">release_date :</label>
    <input type="date" id="release_date" name="release_date" placeholder="Enter release_date" [(ngModel)]="newMovie.release_date" required>
  </div>
  <div>
    <label for="rating">Rating :</label>
    <input type="number" id="genre" name="rating" placeholder="Enter rating" [(ngModel)]="newMovie.rating" required>
  </div>
  <div>
    <label for="image_cover">Image Url:</label>
    <input type="text" id="image_cover" name="image_cover" placeholder="Enter image_cover" [(ngModel)]="newMovie.image_cover" required>
  </div>
  <button type="submit">Create Movie</button>
</form> -->

<!-- <h2>Update Movie</h2>
<form (submit)="onUpdateMovie()">
  <div>
    <label>Movie ID</label>
    <input type="text" [(ngModel)]="updateMovieId" name="movieId" required>
  </div>
  <div>
    <label>Update Image</label>
    <input type="number" [(ngModel)]="updatedMovieData.rating" placeholder="Enter rating" name="rating" required>
  </div>
  <div>
    <label>Update Image</label>
    <input type="text" [(ngModel)]="updatedMovieData.description"  placeholder="Enter description" name="description" required>
  </div>
  <div>
    <label>Update Image</label>
    <input type="text" [(ngModel)]="updatedMovieData.image_cover" placeholder="Enter image_cover" name="image_cover" required>
  </div> -->
  <!-- Add input fields for the movie data you want to update -->
  <!-- <button type="submit">Update Movie</button>
</form> -->

<!-- <h2>Delete Movie</h2>
<form (submit)="onDeleteMovie()">
  <div>
    <label>Movie ID</label>
    <input type="text" [(ngModel)]="deleteMovieId" name="movieId" required>
  </div>
  <button type="submit">Delete Movie</button>
</form>

<h2>List of Movies</h2>
<ul>
  <li *ngFor="let movie of movies">{{ movie.title }} (ID: {{ movie._id }})</li>
</ul> -->
