<div class="container">
    <main>
      <!-- home.component.html -->
      <div class="slider-show">
        <div class="slider-container">
            <div class="slide">
              <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1689834634562_sunburngoadesktop.jpg" alt="Image 2">
            </div>
          <div class="slide">
            <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1687327413545_webbannernpa.jpg" alt="Image 1">
          </div>
          <div class="slide">
            <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1689923495467_crimedesktop.jpg" alt="Image 4">
          </div>
          <div class="slide">
            <img src="https://assets-in.bmscdn.com/promotions/cms/creatives/1689928384934_flashsaledesktoprevised.jpg" alt="Image 3">
          </div>
        </div>
      </div>
  
       <!-- Recommended Movies Section -->
       <h1>Recommended Movies</h1>
       <section class="recommended-movies">
        
        <div class="movie-card">
          <img src="https://img.etimg.com/thumb/msid-47516489,width-1200,height-900,imgsize-319295,overlay-etpanache/photo.jpg" alt="PK">
          <div class="movie-details">
            <h3 class="movie-title">PK</h3>
            <p class="movie-genre">Fiction</p>
          </div>
        </div>
        <div class="movie-card">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG6L2WmlrU5r2HzTKoXTJC5DFyU9vMbUJ79Cp5P7RB5QEEnXkH" alt="RRR">
          <div class="movie-details">
            <h3 class="movie-title">RRR </h3>
            <p class="movie-genre">Fiction</p>
          </div>
        </div>
        <div class="movie-card">
          <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR-GJWOluiuP4BTtHHg6Kk68cuueul3mwQOMwueqol3kBMrT8c7" alt="KGF 2">
          <div class="movie-details">
            <h3 class="movie-title">KGF 2</h3>
            <p class="movie-genre">Action</p>
          </div>
        </div>
      </section>
       
      <h1>Recomended Live Events</h1>
      <div class="best-events">
        <div class="movie-card">
         <img src="https://assets-in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-soundsworth-presents-agam-onwards-upwards-tour-0-2023-7-2-t-10-38-47.jpg" alt="AGAM">
        </div>
        <div class="movie-card">
         <img src="https://assets-in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-telugu-standup-comedy-open-mic-at-kukatpally-0-2023-6-19-t-8-9-47.jpg" alt="standup">
        </div>
        <div class="movie-card">
        <img src="https://assets-in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-stand-up-comedy-open-mic-kondapur-0-2022-9-11-t-18-35-35.jpg" alt="thursday">
        </div>
        <div class="movie-card">
            <img src="https://assets-in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-open-mic-wednesday-0-2022-2-18-t-7-34-35.jpg" alt="wednessday">
            </div>
            <div class="movie-card">
                <img src="https://assets-in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-tuesday-funnies-0-2023-7-13-t-10-51-7.jpg" alt="comedy">
                </div>
                <div class="movie-card">
                    <img src="https://assets-in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-wemet-speed-dating-0-2023-7-18-t-11-44-38.jpg" alt="date">
                    </div>
      </div>
    </main>
  </div>